@import url(./global.css);

.container {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 1.5rem;
}

.card-forms {
  background: #fff;
  width: 100%;
  max-width: 380px;
  border-radius: 25px;
  position: relative;

  display: flex;

  padding: 1.5rem 1.5rem 1.5rem 2.2rem;
}

.forms-register {
  display: none;
}

.card-btn {
  background: linear-gradient(transparent, #fff);
  height: 2rem;
  width: 80%;
  border-radius: 0 0 1rem 1rem;
  outline: none;
  border: none;

  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;

  position: absolute;
  bottom: -2rem;
}
.forms-login--img {
  height: 4rem;
  width: 4rem;

  position: relative;
  align-self: center;

  & img {
    position: absolute;
    top: -3rem;
    height: 100%;
    width: 100%;

    padding: 1rem;
    background: #222;
    border-radius: 100%;
  }
}

.card-forms .forms-login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .login-text {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
  }
}

.forms-login--btn {
  display: flex;
  justify-content: end;

  & button {
    background: green;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;

    border: none;
    outline: none;
  }
}

.login-password,
.login-email {
  height: 1.5rem;
  display: flex;

  border: #222 1px solid;
  background: #444;

  & input {
    border: none;
    outline: none;
    background: transparent;

    padding-left: 10px;
  }
}

.login-password--img,
.login-email--img {
  height: 1.4rem;
  padding-left: 5px;
}

.forms-register.active {
  display: block;
}

.forms-login.remove {
  display: none;
}
